.footer {
    background-color: #1b1b1b;
    color: white;
    padding: 50px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
}

.footer-section h3, .footer-section h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #3498db;
}

.footer-section p, .footer-section ul li a {
    font-size: 16px;
    color: #ccc;
    line-height: 1.6;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #1c83c8;
}

.socials a {
    margin: 0 10px;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease;
    text-decoration: none;
}

.socials a:hover {
    color: #3498db;
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 14px;
    color: #888;
    margin-bottom: -30px;
}
